.article {
    padding-top: 115px;
    padding-bottom: 80px;
}
.article-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article__title {
    margin-bottom: 40px;
    font-family: 'Ibarra Real Nova';
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #33323D;
    
}
.article__link {
    padding: 17px 33px;
    max-width: 165px;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #33323D;
    border: 1px solid #000;
    transition: .6s;
    &:hover{
        background-color:#33323D ;
        color: #fff;
    }
}

@include mobile-first (768px){
    .article__title{
        max-width: 350px;
    }
    .article-wrapper{
        flex-direction: row;
        justify-content: space-between;
    }
    .article__border{
        width: 100px;
        height: 1px;
        background-color:#33323d47;
    }
}
@include mobile-first (850px){
    .article__border{
        width: 250px;
    }
}

@include mobile-first (1000px){
    .article__border{
        width: 400px;
    }
}