.contact {
    padding-bottom: 48px;
}

.contact__title {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Ibarra Real Nova';
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    color: #33323D;
}
.contact-wrapper {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #33323d38;
}
.contact__form{
    display: flex;
    flex-direction: column;
}

.name-label {
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    color: #33323D;
    opacity: 0.8;
}
.email-label{
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    color: #33323D;
    opacity: 0.8;
}
.name-input {
    position: relative;
    margin-top: 8px;
    margin-bottom: 24px;
    padding: 16px;
    background-color: #E6E6E7;
    border: 2px solid transparent;
    outline: none;
}
.name-input:focus{
    border:2px solid #5FB4A2;
}
.name-input:invalid{
    border:2px solid #F43030;
}

.name-input:placeholder-shown{
    color: #33323D;
    opacity: 0.4;
}

.text-area{
    margin-top: 17px;
    padding: 16px;
    background-color: #E6E6E7;
    border: 2px solid transparent;
    outline: none;
    resize: none;
}
.text-area:focus{
    border:2px solid #5FB4A2;
    
}
.text-area:placeholder-shown{
    color: #33323D;
    opacity: 0.4;
}

.contact__link{
    max-width: 200px;
    margin-top: 24px;
    padding: 17px 24px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: #203A4C;
    transition: ease .6s;
    border: none;
    &:hover{
        background-color:  #5FB4A2;
    }
}
@include mobile-first(1000px){
    .contact__form{
        width: 635px;
        
    }
    
    .contact-wrapper{
        flex-direction: row;
        justify-content: space-between;
    }
}