.contact {
    padding-bottom: 48px;
}

.contact__title {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Ibarra Real Nova';
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    color: #33323D;
}
.contact-wrapper {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #33323d38;
}
.contact__label {
}
.contact__input {
}