.touch {
    padding-bottom: 48px;
}
.touch-wrapper {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #33323d38;
}
.touch__title {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Ibarra Real Nova';
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    color: #33323D;
}
.touch__text {
    margin: 0;
    margin-bottom: 24px;
    font-size: 15px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
}
@include mobile-first (1000px){
    .touch-wrapper{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .touch-info-box{
        width: 635px;
    }
}